<%= simple_form_for(@company) do |f| %>
<%= f.error_notification %>
  <%= f.input :user_id ,as: :hidden , :value => current_user.id %>
<table >
  <tr>
    <td><%= f.input :name %></td>
    <td><%= f.input :address %></td>
    <td><%= f.input :services_offered %></td>
    <td><%= f.input :brand_offered %></td>
    <td><%= f.input :licenses %></td>
  </tr>
  <tr>
    <td><%= f.input :phones_number, as: :string %></td>
    <td><%= f.input :phones_number_2, as: :string %></td>
    <td><%= f.input :phones_number_3, as: :string %></td>
  </tr>
  <tr>
    <td><%= f.input :description %></td>
    <td><%= f.association :category, collection: Category.all, include_blank: true  %></td>
    <td><%= f.association :location, collection: Location.all, include_blank: true %></td>
  </tr>
</table>
  
  <div class="actions">
    <%= f.submit "Update Company Profile", :class =>"btn" %>
  </div>
<% end %>
