<p id="notice"><%= notice %></p>
<h3><u>Company Background Info</u></h3>
<table class="table table-borderless">
  <tr>
    <td><strong>Name : </strong><u><%= @company.name rescue'-' %></u></td>
    <td><strong>Service Offered: </strong><u><%= @company.services_offered rescue'-'%></u></td>
    <td><strong>Brand Offered: </strong><u><%= @company.brand_offered rescue'-'%></u></td>
  </tr>
  <tr>
    <td><strong>Licenses: </strong><u><%= @company.licenses rescue'-'%></u></td>
    <td><strong>Phone Number: </strong><u><%= @company.phones_number rescue'-'%></u> / 
      <u><%= @company.phones_number_2 rescue'-'%></u> / 
      <u><%= @company.phones_number_3 rescue'-'%></u></td>
    <td><strong>Category: </strong><u><%= @company.category.name rescue'-'%></u></td>
  </tr>
  <tr>
    <td><strong>Description: </strong><u><%= @company.description rescue'-'%></u></td>
    <td colspan="2"><strong>Location: </strong><u><%= @company.location.name rescue'-'%></u></td>
  </tr>
</table>

<table class="table table-bordered">
  

  <tr>
    <th>No.</th>
    <th colspan="5">Services</th>
  </tr>
  <% @list_services.each_with_index do |p , index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td>
      <p>Service Name :<u><%= p.name %></u></p>
      <p><!-- Service Type : --><%#= p.service_type rescue'-' %>
      Service Location :<u><%= p.service_location rescue'-'%></u> ,
      Delivery Time :<u><%= p.delivery_time rescue'-'%></u></p>
      <p>Description :<u><%= p.description %></u></p>
      <%= link_to "Edit Service", edit_service_path(p.id, :company_id => @company.id) , :class=>"btn btn-mini btn-warning"%>
    </td>
  </tr>
  
  <% end %>
</table>
<%= link_to "Add Service", new_service_path(:company_id => @company.id), :class=>"btn btn-danger" %>
<%= link_to 'Edit Company Profile', edit_company_path(@company), :class=>"btn btn-info" %>

