    <div id="login">
      
        <h2><span class="fontawesome-lock">Sign In - job post</span></h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form>
        <fieldset style="margin-top:-10px">
          
          <div><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %></div>

          <div><%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %></div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me%> Remember Me</div>
          <% end -%>
          <div><%= f.submit "Sign in" , :class=> "btn" %></div>
          </fieldset>
        <% end %>
      </div>  <!-- end of login -->