<h1>Listing locations</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each_with_index do |location , index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= location.name %></td>
        <td><%#= link_to 'Show', location %>
        <%= link_to 'Edit', edit_location_path(location), :class => "btn btn-info btn-mini" %>
        <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-mini" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path, :class=>"btn" %>
